{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "no-await-in-loop": "error",
    "class-methods-use-this": "error",
    "prefer-const": "error",
    "no-unused-vars": "off",
    "eqeqeq": ["error", "smart"],
    "require-await": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/ban-ts-comment": "error",
    "quotes": ["error", "double", { "avoidEscape": true }],
    "no-trailing-spaces": ["error"],
    "no-console": "warn"
  },
}
